
/*Nav Bar CSS*/
#pages{
	background-color:#393939;
	text-align:center;
	border-bottom: 5px;
	border-color: white;
	border-style: solid;
	margin:0 auto;
	width: 1900px;

}
/*Cointainer CSS*/
#container{
	background-color:#000000;
	border-top: : 2px;
	border-color: white;
	border-style: solid;
	margin:0 auto;
	width: 1900px;
	text-align: center;


}
/*Header CSS*/
#header{
	background-color: #000000;
	text-align:center;
	border-top: : 5px;
	border-color: white;
	border-style: solid;
	width: 1900px;
	margin:0 auto;

}
/*Footer CSS*/
#footer{
	background-color: #000000;
	text-align: left;
	border-top: : 5px;
	border-color: white;
	border-style: solid;
	size: 10px;
	color: white;
	width: 1900px;
	margin:0 auto;
}
/*Paragraph tag CSS*/
p{
	font-size: 20px;
	color: white;

}
/*Heading 1 CSS*/
h1{
	color:white;
	font-size:30px;
	text-align: center;
	
}
/*Heading 2 CSS*/
h2{
	color:white;
	font-size:30px;
	text-align: center;
}
/*Portfolio ID CSS*/
#portfolio{
	font-size: 20px;
	color: white;
	
}
/*Buttons CSS*/
button{
	font-size: 20px;
	color: black;
}
/*List CSS*/
ul{

list-style-type: none;
 }
/* Table CSS*/
 table, th, td {
  border:solid 3px white;
  font-size: 30px;
  color: white;
  padding: .4em;
}
/* heading 3CSS*/
h3{
	color: white;
}

/*Body*/
body {
    margin: 0;
    font-family: Arial;
}

/* Images next to eachother in grid */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Images Inside Grid */
.column img {
    opacity: 0.8; 
    cursor: pointer; 
}
/* Hovering over Image*/
.column img:hover {
    opacity: 1;
}

/* Row IDCSS*/
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Cointainer ID CSS 2*/
.container {
    position: relative;
    display: none;
}

/* Image Bio text */
#imgtext {
    
    bottom: 15px;
    left: 30px;
    color: white;
    font-size: 30px;
    
}

/* X Button */
.closebtn {
    position: static;
    color: white;
    font-size: 50px;
    cursor: pointer;
}
/* Input Check Box CSS*/
input[type=checkbox] {
    width: 25px;
    height: 25px;
}

/* Input Text CSS*/
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* Inout SubmitCSS*/
input[type=submit] {
  width: 15%;
  background-color: red;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 40px;
}
/* Input email CSS*/
input[type=email]{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}